<% if(parseInt(rendicion)===1){ %>
  <tr>
    <td style="width: 10%;text-align: center;background-color: #ecfc62;">
      <%- fecha %>
    </td>
    <td style="width: 15%;text-align: center;background-color: #ecfc62">
      <%- comprobante %>
    </td>
    <td style="width: 40%;text-align: left;font-size: 12px;background-color: #ecfc62">
      <% if(descripcion2==="" ){ %>
        <%- descripcion %>
          <% }else{ %>
            Cr. Transf. <%- descripcion2 %>
              <% }%>
    </td>
    <td style="width: 15%;text-align: right;background-color: #ecfc62">$ <%- monto %>
    </td>
  </tr>
  <% }else{ %>
    <tr>
      <td style="width: 10%;text-align: center;">
        <%- fecha %>
      </td>
      <td style="width: 15%;text-align: center;">
        <%- comprobante %>
      </td>
      <td style="width: 40%;text-align: left;font-size: 12px;">
        <% if(descripcion2==="" ){ %>
          <%- descripcion %>
            <% }else{ %>
              Cr. Transf. <%- descripcion2 %>
                <% }%>
      </td>
      <td style="width: 15%;text-align: right;">$ <%- monto %>
      </td>
    </tr>
    <% }%>